<?xml version="1.0"?>
<!-- @author Artemii Karkusha -->
<!-- @copyright Copyright (c) (https://www.linkedin.com/in/artemiy-karkusha/) -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ArtemiiKarkusha\AdobeCommercePreparingToCertification\Api\CreateSomethingInterface"
                type="ArtemiiKarkusha\AdobeCommercePreparingToCertification\Model\Api\CreateSomething"/>
</config>
